<app-page-header [title]="'Progress'" [activeTitle]="'Ui Elements'" [title1]="'Progress'"></app-page-header>


                    <!-- Start:: row-1 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Basic Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleBasic()">Show Code
                                            <i class="ri-code-{{toggleClass1}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4 !rounded-full" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar w-0"></div>
                                    </div>
                                    <div class="progress mb-4 " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !rounded-s-full w-1/4"></div>
                                    </div>
                                    <div class="progress mb-4 !rounded-full" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !rounded-s-full w-1/2"></div>
                                    </div>
                                    <div class="progress mb-4 !rounded-full" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !rounded-s-full w-3/4"></div>
                                    </div>
                                    <div class="progress mb-0 !rounded-full" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !rounded-s-full w-full"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                    @if(isContentVisible1){
                                        <div>
                                           <pre class="language-html"><code class="language-html" >{{ts1}}</code></pre>   
                                       </div>
                                   }
    
                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Different Colored Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleDifferent()">Show Code
                                            <i class="ri-code-{{toggleClass2}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4" aria-valuenow="20" aria-valuemin="0"
                                    aria-valuemax="100">
                                        <div class="progress-bar !bg-secondary !rounded-s-full w-1/5"></div>
                                    </div>
                                    <div class="progress mb-4"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-warning !rounded-s-full w-2/5"></div>
                                    </div>
                                    <div class="progress mb-4"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-info !rounded-s-full w-3/5"></div>
                                    </div>
                                    <div class="progress mb-4"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-success !rounded-s-full w-4/5"></div>
                                    </div>
                                    <div class="progress"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-danger !rounded-s-full w-full"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible2){

                    <div>
                        <pre class="language-html"><code class="language-html" >{{ts2}}</code></pre>   
                    </div>
                }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Striped Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleStriped()">Show Code
                                            <i class="ri-code-{{toggleClass3}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped w-[10%]">
                                        </div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped !bg-secondary !rounded-s-full w-1/4">
                                        </div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped !bg-success !rounded-s-full w-2/4">
                                        </div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped !bg-info !rounded-s-full w-3/4">
                                        </div>
                                    </div>
                                    <div class="progress" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped !bg-warning !rounded-s-full w-full"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                    @if(isContentVisible3){

                    <div>
                        <pre class="language-html"><code class="language-html" >{{ts3}}</code></pre>   
                    </div>
                }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Progress Height
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleProgress()">Show Code
                                            <i class="ri-code-{{toggleClass4}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress progress-xs mb-4" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary !rounded-s-full w-[10%]">
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mb-4" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary !rounded-s-full w-1/4">
                                        </div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary !rounded-s-full w-2/4">
                                        </div>
                                    </div>
                                    <div class="progress progress-lg mb-4" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary !rounded-s-full w-3/4">
                                        </div>
                                    </div>
                                    <div class="progress progress-xl" aria-valuenow="100" aria-valuemin="0"
                                            aria-valuemax="100">
                                        <div class="progress-bar bg-primary !rounded-s-full w-full"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                         @if(isContentVisible4){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts4}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header flex justify-between">
                                    <div class="box-title">
                                        Progress With Labels
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleLabels()">Show Code
                                            <i class="ri-code-{{toggleClass5}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4"
                                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !rounded-s-full w-[10%]">10%</div>
                                    </div>
                                    <div class="progress mb-4"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-secondary !rounded-s-full w-1/5">20%</div>
                                    </div>
                                    <div class="progress mb-4"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-success !rounded-s-full w-2/5">40%</div>
                                    </div>
                                    <div class="progress mb-4"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-info !rounded-s-full w-3/5">60%</div>
                                    </div>
                                    <div class="progress mb-0"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-warning !rounded-s-full w-4/5">80%</div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                         @if(isContentVisible5){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts5}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Multiple bars With Sizes
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleMultiple()">Show Code
                                            <i class="ri-code-{{toggleClass6}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress-stacked progress-xs mb-4 flex">
                                        <div class="progress-bar w-[5%]" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-secondary !rounded-none w-[10%]" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-success !rounded-none w-[15%]" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress-stacked progress-sm mb-4 flex">
                                        <div class="progress-bar !bg-warning w-[10%]" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-info !rounded-none w-[15%]" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-danger !rounded-none w-[20%]" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress-stacked mb-4 flex">
                                        <div class="progress-bar !bg-info w-[15%]"
                                            aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-success !rounded-none w-1/5"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !rounded-none w-1/4"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress-stacked progress-lg mb-4 flex">
                                        <div class="progress-bar !bg-purple w-1/5"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-teal !rounded-none w-1/4"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-orange !rounded-none w-[30%]"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="progress-stacked progress-xl mb-0 flex">
                                        <div class="progress-bar !bg-success w-1/4"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-danger !rounded-none w-[30%]"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar !bg-warning !rounded-none w-[35%]"
                                            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible6){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts6}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                    <!-- Start:: row-4 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Animated Stripped Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleAnimated()">Show Code
                                            <i class="ri-code-{{toggleClass7}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated w-[10%]"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated w-1/5"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated w-2/5"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated w-3/5"></div>
                                    </div>
                                    <div class="progress" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated w-4/5"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible7){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts7}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Gradient Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleGradient()">Show Code
                                            <i class="ri-code-{{toggleClass8}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary-gradient w-[10%]"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-secondary-gradient w-1/5"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success-gradient w-2/5"></div>
                                    </div>
                                    <div class="progress mb-4" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info-gradient w-3/5"></div>
                                    </div>
                                    <div class="progress" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-warning-gradient w-4/5"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible8){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts8}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-4 -->

                    <!-- Start:: row-5 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Animated Progress
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleCustom()">Show Code
                                            <i class="ri-code-{{toggleClass9}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress mb-4 progress-animate" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary-gradient w-[10%]"></div>
                                    </div>
                                    <div class="progress mb-4 progress-animate" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-secondary-gradient w-1/5"></div>
                                    </div>
                                    <div class="progress mb-4 progress-animate" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success-gradient w-2/5"></div>
                                    </div>
                                    <div class="progress mb-4 progress-animate" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info-gradient w-3/5"></div>
                                    </div>
                                    <div class="progress progress-animate" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-warning-gradient w-4/5"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible9){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts9}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Progress-1
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleProgress1()">Show Code
                                            <i class="ri-code-{{toggleClass10}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress progress-sm progress-custom mb-[3rem] progress-animate" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <h6 class="progress-bar-title text-[1rem]">Mobiles</h6>
                                        <div class="progress-bar w-1/2">
                                            <div class="progress-bar-value !bg-primary">50%</div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm progress-custom mb-[3rem] progress-animate" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <h6 class="progress-bar-title !bg-secondary text-[1rem] after:!border-s-secondary">Watches</h6>
                                        <div class="progress-bar progress-secondary w-3/5">
                                            <div class="progress-bar-value !bg-secondary">60%</div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm progress-custom progress-animate" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        <h6 class="progress-bar-title !bg-success text-[1rem] after:!border-s-success">Shirts</h6>
                                        <div class="progress-bar progress-success w-[70%]">
                                            <div class="progress-bar-value !bg-success">70%</div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible10){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts10}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-5 -->

                    <!-- Start:: row-6 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Progress-2
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleCustomProgress2()">Show Code
                                            <i class="ri-code-{{toggleClass11}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress progress-sm mb-4" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-item-1 !bg-primary"></div><div class="progress-item-2"></div><div class="progress-item-3"></div>
                                        <div class="progress-bar w-1/2"></div>
                                    </div>
                                    <div class="progress progress-sm mb-4" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-item-1 !bg-secondary"></div><div class="progress-item-2 !bg-secondary"></div><div class="progress-item-3"></div>
                                        <div class="progress-bar !bg-secondary w-3/5"></div>
                                    </div>
                                    <div class="progress progress-sm mb-4" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-item-1 !bg-success"></div><div class="progress-item-2 !bg-success"></div><div class="progress-item-3"></div>
                                        <div class="progress-bar !bg-success w-[70%]"></div>
                                    </div>
                                    <div class="progress progress-sm mb-4" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-item-1 !bg-info"></div><div class="progress-item-2 !bg-info"></div><div class="progress-item-3 !bg-info"></div>
                                        <div class="progress-bar !bg-info w-4/5"></div>
                                    </div>
                                    <div class="progress progress-sm" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-item-1 !bg-warning"></div><div class="progress-item-2 !bg-warning"></div><div class="progress-item-3 !bg-warning"></div>
                                        <div class="progress-bar !bg-warning w-[90%]"></div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible11){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts11}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Progress-3
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleProgress3()">Show Code
                                            <i class="ri-code-{{toggleClass12}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress progress-lg mb-[3rem] custom-progress-3 progress-animate" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar w-1/2">
                                            <div class="progress-bar-value">50%</div>
                                        </div>
                                    </div>
                                    <div class="progress progress-lg mb-[3rem] custom-progress-3 progress-animate" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-secondary w-3/5">
                                            <div class="progress-bar-value secondary">60%</div>
                                        </div>
                                    </div>
                                    <div class="progress progress-lg custom-progress-3 progress-animate" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar !bg-success w-[70%]">
                                            <div class="progress-bar-value success">70%</div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible12){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts12}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-6 -->

                    <!-- Start:: row-7 -->
                    <div class="grid grid-cols-12 gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Progress-4
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleProgress4()">Show Code
                                            <i class="ri-code-{{toggleClass13}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="progress progress-xl mb-4 progress-animate custom-progress-4" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-primary-gradient !rounded-sm w-[10%]"></div>
                                        <div class="progress-bar-label">10%</div>
                                    </div>
                                    <div class="progress progress-xl mb-4 progress-animate custom-progress-4 secondary" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-secondary-gradient !rounded-sm w-1/5"></div>
                                            <div class="progress-bar-label">20%</div>
                                    </div>
                                    <div class="progress progress-xl mb-4 progress-animate custom-progress-4 success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success-gradient !rounded-sm w-2/5"></div>
                                            <div class="progress-bar-label">40%</div>
                                    </div>
                                    <div class="progress progress-xl mb-4 progress-animate custom-progress-4 info" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-info-gradient !rounded-sm w-3/5"></div>
                                            <div class="progress-bar-label">60%</div>
                                    </div>
                                    <div class="progress progress-xl mb-4 progress-animate custom-progress-4 warning" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-warning-gradient !rounded-sm w-4/5"></div>
                                            <div class="progress-bar-label">80%</div>
                                    </div>
                                    <div class="progress progress-xl progress-animate custom-progress-4 danger" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-danger-gradient !rounded-sm w-[90%]"></div>
                                            <div class="progress-bar-label">90%</div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible13){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts13}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Custom Progress-5
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]" (click)="toggleProgress5()"> Show Code
                                            <i class="ri-code-{{toggleClass14}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <h6 class="font-semibold mb-2">Project Dependencies</h6>
                                    <div class="progress-stacked progress-xl mb-[3rem] flex">
                                        <div class="progress-bar w-1/2"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                        <div class="progress-bar !bg-secondary !rounded-none w-[35%]"
                                            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                                        <div class="progress-bar !bg-danger !rounded-s-none !rounded-e-full w-2/5"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                    </div>
                                    <div class="grid grid-cols-12 justify-center">
                                        <div class="xl:col-span-5 col-span-12">
                                            <div class="border border-defaultborder dark:border-defaultborder/10 p-4 rounded-md">
                                                <p class="text-[0.75rem] font-semibold mb-0 text-[#8c9097] dark:text-white/50">Html<span class="ltr:float-right rtl:float-left text-[0.625rem] font-normal">25%</span></p>
                                                <div class="progress progress-xs mb-4 progress-animate" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar bg-primary w-1/2">
                                                    </div>
                                                </div>
                                                <p class="text-[0.75rem] font-semibold mb-0 text-[#8c9097] dark:text-white/50">Css<span class="ltr:float-right rtl:float-left text-[0.625rem] font-normal">35%</span></p>
                                                <div class="progress progress-xs mb-4 progress-animate " aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar !rounded-none !bg-secondary w-[35%]">
                                                    </div>
                                                </div>
                                                <p class="text-[0.75rem] font-semibold mb-0 text-[#8c9097] dark:text-white/50">Js<span class="ltr:float-right rtl:float-left text-[0.625rem] font-normal">40%</span></p>
                                                <div class="progress progress-xs mb-0 progress-animate " aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar !rounded-e-full !bg-danger w-2/5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible14){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts14}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-7 -->
