<app-page-header [title]="'Deals'" [activeTitle]="'CRM'" [title1]="'Deals'"></app-page-header>

     <!-- Start::row-1 -->
     <div class="grid grid-cols-12 gap-x-6" cdkDropListGroup>
        <div class="xl:col-span-12 col-span-12">
            <div class="box custom-box">
                <div class="box-body">
                    <div class="flex items-center flex-wrap gap-2 justify-between">
                        <div class="flex items-center">
                            <span class="font-semibold text-[1rem] me-1">Deals</span><span class="badge bg-light text-default align-middle">16</span>
                        </div>
                        <div class="flex flex-wrap gap-2">
                            <a href="javascript:void(0);" class="hs-dropdown-toggle ti-btn ti-btn-primary-full !py-1 !px-2 !text-[0.75rem]" data-hs-overlay="#todo-compose"><i class="ri-add-line font-semibold align-middle"></i>New Deal
                            </a>
                            <button type="button" class="ti-btn ti-btn-success !py-1 !px-2 !text-[0.75rem] btn-wave">Export As CSV</button>
                            <div class="hs-dropdown ti-dropdown">
                                <a href="javascript:void(0);" class="ti-btn ti-btn-light !py-1 !px-2 !text-[0.75rem] btn-wave" aria-expanded="false">
                                    Sort By<i class="ri-arrow-down-s-line align-middle ms-1 inline-block"></i>
                                </a>
                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden" role="menu">
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Newest</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Date Added</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">A - Z</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <!-- Start::row-2 -->
   <div class="grid grid-cols-12 gap-x-6" cdkDropListGroup>
        <div class="xxxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] lead-discovered">Leads Discovered</div>
                            <span class=" badge bg-light text-default">24 Leads</span>
                        </div>
                        <div>
                            <span class="text-primary font-semibold">$25,238</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] lead-qualified">Qualified Leads</div>
                            <span class=" badge bg-light text-default">17 Leads</span>
                        </div>
                        <div>
                            <span class="text-warning font-semibold">$32,453</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] contact-initiated">Contact Initiated</div>
                            <span class=" badge bg-light text-default">5 Leads</span>
                        </div>
                        <div>
                            <span class="text-success font-semibold">$13,756</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] need-identified">Needs Identified</div>
                            <span class=" badge bg-light text-default">43 Leads</span>
                        </div>
                        <div>
                            <span class="text-info font-semibold">$47,093</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] negotiation">Negotiation</div>
                            <span class=" badge bg-light text-default">15 Leads</span>
                        </div>
                        <div>
                            <span class="text-danger font-semibold">$26,146</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xxl:col-span-2 md:col-span-4 col-span-12">
            <div class="box custom-box">
                <div class="box-body !p-4">
                    <div class="flex items-start flex-wrap justify-between">
                        <div>
                            <div class="font-semibold text-[.9375rem] deal-finalized">Deal Finalized</div>
                            <span class=" badge bg-light text-default">127 Deals</span>
                        </div>
                        <div>
                            <span class="text-secondary font-semibold">$1,74,679</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-2 -->


    <!-- Start::row-3 -->
   <div class="grid grid-cols-12 gap-x-6" cdkDropListGroup>
        <div class="xxl:col-span-2 col-span-12" id="leads-discovered" id="draggable-left">
            <div
            cdkDropList
            [cdkDropListData]="todo"
            id="draggable-right"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of todo;track $index){

              <div  cdkDrag [innerHTML]="item"></div>
          }
        </div>
        </div>
        <div class="xxl:col-span-2 col-span-12" id="leads-qualified" id="draggable-right">
            <div
            cdkDropList
            [cdkDropListData]="done"
            id="draggable-left"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of done;track $index){

            <div  cdkDrag [innerHTML]="item"></div>
        }
        
         
            
        </div>
    </div>
        <div class="xxl:col-span-2 col-span-12" id="contact-initiated" id="draggable-right">
            <div
            cdkDropList
            [cdkDropListData]="todo1"
            id="draggable-left"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of todo1;track $index){

            <div  cdkDrag [innerHTML]="item"></div>
        }
            </div>
          
           
        </div>
        <div class="xxl:col-span-2 col-span-12" id="needs-identified" id="draggable-right">
            <div
            cdkDropList
            [cdkDropListData]="done1"
            id="draggable-left"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of done1;track $index){

            <div  cdkDrag [innerHTML]="item"></div>
        }
         
        
        </div>
        
        </div>
        <div class="xxl:col-span-2 col-span-12" id="negotiation" id="draggable-left">
            <div
            cdkDropList
            [cdkDropListData]="todo2"
            id="draggable-right"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of todo2;track $index){

            <div  cdkDrag [innerHTML]="item"></div>
        }
        </div>
           
           
          

          
          
        </div>
        <div class="xxl:col-span-2 col-span-12" id="deal-finalized" id="draggable-right">
            <div
            cdkDropList
            [cdkDropListData]="done2"
            id="draggable-left"
            (cdkDropListDropped)="drop($event)"
          >
          @for( item of done2;track $index){

            <div  cdkDrag [innerHTML]="item"></div>
        }
        
         
            
        </div>
        
           
        </div>
    </div>
    <!-- End::row-3 -->

    <!-- Start:: New Deal -->
    <div id="todo-compose" class="hs-overlay hidden ti-modal">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
          <div class="ti-modal-content">
            <div class="ti-modal-header">
                <h6 class="modal-title text-[1rem] font-semibold text-defaulttextcolor" id="mail-ComposeLabel">New Deal</h6>
                  <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold !text-defaulttextcolor" data-hs-overlay="#todo-compose">
                    <span class="sr-only">Close</span>
                    <i class="ri-close-line"></i>
                  </button>
            </div>
            <div class="ti-modal-body px-4">
                <div class="grid grid-cols-12 gap-4">
                    <div class="xl:col-span-12 col-span-12">
                        <div class="mb-0 text-center">
                            <span class="avatar avatar-xxl avatar-rounded">
                                <img [src]="url1 ? url1 : './assets/images/faces/9.jpg'"  alt="" id="profile-img">
                                <span class="badge rounded-full bg-primary avatar-badge">
                                    <input type="file" name="photo" class="absolute w-full h-full opacity-[0]" id="profile-change"   (change)="handleFileInput($event)">
                                    <i class="fe fe-camera text-[.625rem]"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="xl:col-span-6 col-span-12">
                        <label for="deal-name" class="form-label">Contact Name</label>
                        <input type="text" class="form-control" id="deal-name" placeholder="Contact Name">
                    </div>
                    <div class="xl:col-span-6 col-span-12">
                        <label for="deal-lead-score" class="form-label">Deal Value</label>
                        <input type="number" class="form-control" id="deal-lead-score" placeholder="Deal Value">
                    </div>
                    <div class="xl:col-span-12 col-span-12">
                        <label for="company-name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="company-name" placeholder="Company Name">
                    </div>
                    <div class="xl:col-span-12 col-span-12">
                        <label class="form-label">Last Contacted</label>
                        <div class="form-group">
                            <div class="input-group">
                                    <input type="text" class="form-control" id="endDate" placeholder="Choose date with time"   mwlFlatpickr
                                    [enableTime]="true"
                                    [convertModelValue]="true"
                                    [dateFormat]="'Y-m-d H:i'"
                                   >   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ti-modal-footer">
                <button type="button"
                class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle"
                data-hs-overlay="#todo-compose">
                Cancel
              </button>
                <button type="button" class="ti-btn bg-primary text-white !font-medium">Create Deal</button>
            </div>
          </div>
        </div>
    </div>
    <!-- End:: New Deal -->
