<app-page-header [title]="'Spinners'" [activeTitle]="'Ui Elements'" [title1]="'Spinners'"></app-page-header>


                    <!-- Start:: row-1 -->
                    <div class="grid grid-cols-12  gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Border spinner
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleSpinner()">Show Code
                                            <i class="ri-code-{{toggleClass1}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="ti-spinner" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                               
                                    @if(isContentVisible1){

                                        <div>
                                            <pre class="language-html"><code class="language-html" >{{ts1}}</code></pre>   
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Colors
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleColors()">Show Code
                                            <i class="ri-code-{{toggleClass2}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="ti-spinner me-1 text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-secondary" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-success" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-danger" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-warning" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-info" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1 text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-1" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible2){

                    <div>
                        <pre class="language-html"><code class="language-html" >{{ts2}}</code></pre>   
                    </div>
                }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-1 -->

                    <!-- Start:: row-2 -->
                    <div class="grid grid-cols-12  gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Growing spinner
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleGrowing()">Show Code
                                            <i class="ri-code-{{toggleClass3}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="ti-spinner !bg-black dark:!bg-light !animate-ping !border-transparent " role="status"
                                        aria-label="loading">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                    @if(isContentVisible3){

                    <div>
                        <pre class="language-html"><code class="language-html" >{{ts3}}</code></pre>   
                    </div>
                }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Growing spinner
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleGrowing1()">Show Code
                                            <i class="ri-code-{{toggleClass4}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="space-x-6 space-y-4 rtl:space-x-reverse">
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-primary" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-secondary" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-warning" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-danger" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-success" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-info" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-black/20 dark:!bg-light dark:animate-ping "
                                            role="status" aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ti-spinner !animate-ping !border-transparent  bg-gray-400" role="status"
                                            aria-label="loading">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                         @if(isContentVisible4){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts4}}</code></pre>   
                </div>
            }


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-2 -->

                    <!-- Start:: row-3 -->
                    <div class="grid grid-cols-12  gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Alignment Flex
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleGrowing2()">Show Code
                                            <i class="ri-code-{{toggleClass5}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="flex justify-center mb-6">
                                        <div class="ti-spinner" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <strong>Loading...</strong>
                                        <div class="ti-spinner" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                         @if(isContentVisible5){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts5}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Alignment Float
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleAlignment()">Show Code
                                            <i class="ri-code-{{toggleClass6}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="clearfix mb-6">
                                        <div class="ti-spinner ltr:float-right rtl:float-left" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="ti-spinner ltr:float-left rtl:float-right" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible6){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts6}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-3 -->

                    <!-- Start:: row-4 -->
                    <div class="grid grid-cols-12  gap-6">
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Alignment Text center
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleTxt()">Show Code
                                            <i class="ri-code-{{toggleClass7}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="text-center">
                                        <div class="ti-spinner" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible7){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts7}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Spinner Sizes
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleSizes()">Show Code
                                            <i class="ri-code-{{toggleClass8}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body flex items-center">
                                    <div class="ti-spinner !w-[1rem] !h-[1rem] me-6" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner !w-[1rem] !h-[1rem] !bg-black dark:!bg-white !animate-ping !border-transparent me-6" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner me-6 w-12 h-12"
                                        role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <div class="ti-spinner !bg-black dark:!bg-white !animate-ping !border-transparent w-8 h-8" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible8){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts8}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">
                                        Alignment Margin
                                    </div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleMargin()">Show Code
                                            <i class="ri-code-{{toggleClass9}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="ti-spinner m-[3rem]" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible9){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts9}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-4 -->

                    <!-- Start:: row-5 -->
                    <div class="grid grid-cols-12  gap-6">
                        <div class="xl:col-span-12 col-span-12">
                            <div class="box">
                                <div class="box-header justify-between">
                                    <div class="box-title">Buttons</div>
                                    <div class="prism-toggle">
                                        <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary" (click)="toggleButtons()">Show Code
                                            <i class="ri-code-{{toggleClass10}} ms-2 inline-block align-middle"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="">
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-primary-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-primary-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-secondary-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-secondary-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-warning-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-warning-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-danger-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-danger-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-info-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-info-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-success-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </button>
                                        <button type="button" class="ti-btn ti-btn-disabled me-2 ti-btn-success-full" disabled>
                                            <span class="ti-spinner text-white" role="status" aria-label="loading"></span>
                                            <span>Loading...</span>
                                        </button>
                                    </div>
                                    
                                    
                                </div>
                                <div class="box-footer showcode border-t-0">
                                        @if(isContentVisible10){
                 <div>
                    <pre class="language-html"><code class="language-html" >{{ts10}}</code></pre>   
                </div>
            }

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:: row-5 -->