<app-page-header [title]="'Indicators'" [activeTitle]="'Ui Elements'" [title1]="'Indicators'"></app-page-header>

       <!-- Start::row-1 -->
       <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Basic Legend Indicator</h5>
                </div>
                <div class="box-body">
                    <div class="inline-flex items-center">
                        <span class="w-2 h-2 inline-block bg-gray-500 dark:bg-white/80 rounded-full me-2"></span>
                        <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Legend indicator</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Color variations Legend Indicator</h5>
                </div>
                <div class="box-body">
                    <div class="grid gap-y-2">
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-black/20 rounded-full me-2 dark:bg-white"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Dark</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-gray-500 rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Gray</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-red rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Red</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-yellow rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Yellow</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-green rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Green</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-blue rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Blue</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-indigo rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Indigo</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-purple rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Purple</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-pink rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Pink</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-light rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Light</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
            <div class="box">
                <div class="box-header">
                    <h5 class="box-title">Template Color variations Legend Indicator</h5>
                </div>
                <div class="box-body">
                    <div class="grid gap-y-2">
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-primary rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Primary</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-secondary rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Secondary</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-warning rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Warning</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-success rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Success</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-info rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Info</span>
                        </div>
                        <div class="inline-flex items-center">
                            <span class="w-2 h-2 inline-block bg-danger rounded-full me-2"></span>
                            <span class="text-gray-600 dark:text-[#8c9097] dark:text-white/50">Danger</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::row-1 -->