#external-events {
    height: 10%;
    padding: 0 20px;
    // border: 1px solid #ece9fb;
    // background: #f7f6fd;
    text-align: left;
    // border-radius: 5px;
  }
  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }
  
  #external-events ul {
    list-style: none;
    padding: 0;
  }
  
  #external-events ul li {
    margin: 11px 0;
  }
  
  #external-events ul li a{
    color: #fff;
    padding: 1px 6px;
    display :block;
    font-size: 0.85em;
  }
  
  ::ng-deep{
  
    app-calendar{
        .card.custom-card{
            width: 96% !important;
        }
  
        @media screen and (min-width:767px) and (max-width:1100px) {
            .col-md-4.text-right{
               margin-right: 50px !important;
            }
        }
  
        ul li {
            z-index: 9 !important;
        }
    }
  
    .cal-month-view .cal-day-number{
        font-size: 1.1em;
        margin-top: 5px;
        margin-right: 5px;
        color: #1d212f;
    }
    .cal-month-view .cal-day-cell:not(:last-child) {
        border-right-color: #ebf1ff;
    }
    .main-content-body-calendar .btn {
        // border:1px solid #ebf1ff;
        border-radius: 4px;
        color: #705ec8;
    }
    .cal-month-view .cal-days .cal-cell-row {
        border-bottom-color: #ebf1ff;
    }
    .dark .cal-month-view .cal-open-day-events {
        color: var(--text-white);
        background-color:var(--darkbg);
        box-shadow: none;
        border: 1px solid #f6f6f621;
        border-top: 0;
    }
    .cal-month-view .cal-event-title:hover{
        text-decoration: none;
    }
    .cal-event-action:focus{
        outline: 0;
    }
    mwl-calendar-event-title:focus{
        outline: 0;
    }
    .cal-month-view .cal-days {
        border-color: #ebf1ff;
    }
    .cal-month-view .cal-cell-row:hover {
        background-color: #f7f6fd;
    }
    .cal-month-view .cal-day-cell.cal-today {
        background-color: rgb(238, 241, 249);
    }
    .cal-month-view .cal-cell.cal-has-events.cal-open {
        background-color: var(--darkbg);
    }
    .cal-month-view .cal-cell-row .cal-cell:hover {
        background-color: #f7f6fd;
    }
    .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
        color: #728096;
    }
    .cal-month-view .cal-day-badge {
        background-color: #705ec8;
    }
    .cal-month-view .cal-cell:focus {
        outline: 0;
    }
    .table.table-bordered {
        border-top: 1px solid #ebf1ff;
    }
    .cal-header {
        border-top: 1px solid #ebf1ff;
        border-left: 1px solid #ebf1ff;
        border-right: 1px solid #ebf1ff;
    }
    .cal-month-view .cal-header .cal-cell {
        padding: 10px 0;
    }
    .cal-cell {
        border-right: 1px solid #ebf1ff;
    }
    .cal-cell:last-child {
        border-right: 0;
    }
   .dark .cal-month-view .cal-cell.cal-has-events.cal-open {
        background: #eef1f9;
    }
    .cal-month-view .cal-day-cell.cal-today .cal-day-number {
        color: #1a1630;
    }
    @media (max-width: 669px) {
        #external-events-1 {
          .text-left, .text-right {
            text-align: center !important;
            margin-top: 5px;
          }
        }
  
        .cal-month-view {
          .cal-cell-top {
            min-height: 10px;
          }
  
          .cal-day-cell {
            min-height: 10px;
            min-height: 10px;
          }
  
          .cal-day-badge {
            display :none;
          }
  
          .cal-day-cell.cal-today .cal-day-number {
            font-size: 1.2em;
          }
        }
    }
  }
  
  