::ng-deep{


    .firebase {
        width: 30px;
        height: 30px;
    }
    
    .rounded-lg{
                width: 120px;
                justify-content: center;
                margin: auto;
                border-radius: 0.75rem;
            }           
    }