<div class="container my-[3rem] ">
    <!-- Start::row-1 -->
     <div class="grid grid-cols-12 gap-x-6">
       <div class="xxl:col-span-6 xl:col-span-12 col-span-12">
           <div class="box overflow-hidden">
               <div class="box-body !p-0">
                   <div class="swiper mySwiper8">
                       <div class="swiper-wrapper">
                         <div class="swiper-slide">
                            <owl-carousel-o [options]="customOptions" [dir]="customOptions.rtl ? 'rtl' : 'ltr'" >
                                @for(slide of slidesStore;track $index){

                                    <ng-container >
                                      <ng-template carouselSlide>
                                        <div class="rtl:dir-rtl">
                                            <a href="javascript:void(0);">
                                                <img [src]="slide.src"  class="block-full" alt="...">
                                                <div class="blog-caption text-start">
                                                    <p class="mb-2 text-xs">{{slide.text}}</p>
                                                    <h6 class="text-base font-semibold mb-2">{{slide.text1}}</h6>
                                                    <div class="flex items-center">
                                                        <img [src]="slide.src1"  alt="" class="shadow-none ring-transparent avatar avatar-sm !rounded-full me-2">
                                                        <div class="font-semibold">{{slide.text2}} <span class="text-[.6875rem] opacity-70 font-normal">{{slide.text3}}</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        </ng-template>
                                        </ng-container>
                                }
                                    </owl-carousel-o>
                         </div>
                    
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="xxl:col-span-6 xl:col-span-12 col-span-12">
            <div class="grid grid-cols-12 gap-x-6">
               <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-36.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Touring excites in winter !</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-3">The holographic principle, theorized to be a property of quantum gravity, postulates that the description.</p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/10.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Justin Kim</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">20,Dec 2022 - 16:32</p>
                                   </div>
                               </div>
                               <div>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-35.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1"> Boat manufacutrers are in debt !</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-3">when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/5.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Monika Karen</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">25,Dec 2022 - 12:45</p>
                                   </div>
                               </div>
                               <div>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="xl:col-span-12 col-span-12">
           <div class="flex justify-between items-center mb-3">
               <h5 class="mb-0 font-semibold text-[1.25rem] text-defaulttextcolor">Popular Topics</h5>
               <p class="mb-0 font-semibold">
                   <a href="javascript:void(0);" class="text-primary"><u>View All</u></a>
               </p>
           </div>
            <div class="grid grid-cols-12 gap-x-6">
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box !bg-black/20 overlay-card text-white">
                           <img src="./assets/images/media/media-73.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Nature</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box bg-dark overlay-card text-white">
                           <img src="./assets/images/media/media-74.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Sports</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box bg-dark overlay-card text-white">
                           <img src="./assets/images/media/media-75.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Food</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box bg-dark overlay-card text-white">
                           <img src="./assets/images/media/media-76.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Travel</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box bg-dark overlay-card text-white">
                           <img src="./assets/images/media/media-77.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Fashion</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               <div class="xxl:col-span-2 xl:col-span-2 lg:col-span-2 md:col-span-4 col-span-6">
                   <a href="javascript:void(0);">
                       <div class="box bg-dark overlay-card text-white">
                           <img src="./assets/images/media/media-78.jpg" class="card-img" alt="...">
                           <div class="card-img-overlay flex flex-column p-0 over-content-bottom">
                               <div class="box-footer border-t-0">
                                   <h6 class="font-semibold mb-0 text-white text-[1rem]">Animals</h6>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
           </div>
       </div>
       <div class="xl:col-span-12 col-span-12">
            <div class="grid grid-cols-12 gap-x-6">
               <div class="xl:col-span-6 xxl:col-span-8 col-span-12">
                    <div class="grid grid-cols-12 gap-x-6">
                       <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                           <div class="box">
                               <a href="javascript:void(0);">
                                   <img src="./assets/images/media/media-26.jpg" class="card-img-top rounded-t-sm" alt="...">
                               </a>
                               <div class="box-body">
                                   <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Features of new car !</a>
                                   <p class="card-text text-[#8c9097] dark:text-white/50 mb-3">The holographic principle, theorized to be a property of quantum gravity, postulates that the description.</p>
                                   <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                               </div>
                               <div class="box-footer">
                                   <div class="flex flex-wrap items-center justify-between">
                                       <div class="flex items-center">
                                           <div class="avatar avatar-sm avatar-rounded me-2">
                                               <img src="./assets/images/faces/11.jpg" alt="">
                                           </div>
                                           <div>
                                               <p class="mb-0 font-semibold">Alister Chuk</p>
                                               <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">18,Dec 2022 - 12:25</p>
                                           </div>
                                       </div>
                                       <div class="btn-list">
                                           <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                           <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="xxl:col-span-6 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                           <div class="box">
                               <a href="javascript:void(0);">
                                   <img src="./assets/images/media/media-31.jpg" class="card-img-top rounded-t-sm" alt="...">
                               </a>
                               <div class="box-body">
                                   <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Beautiful beach on a sunny day !</a>
                                   <p class="card-text text-[#8c9097] dark:text-white/50 mb-3">The holographic principle, theorized to be a property of quantum gravity, postulates that the description.</p>
                                   <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                               </div>
                               <div class="box-footer">
                                   <div class="flex flex-wrap items-center justify-between">
                                       <div class="flex items-center">
                                           <div class="avatar avatar-sm avatar-rounded me-2">
                                               <img src="./assets/images/faces/3.jpg" alt="">
                                           </div>
                                           <div>
                                               <p class="mb-0 font-semibold">Samantha Nans</p>
                                               <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">25,Dec 2022 - 04:25</p>
                                           </div>
                                       </div>
                                       <div class="btn-list">
                                           <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                           <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="xl:col-span-6 xxl:col-span-4 col-span-12">
                   <div class="box">
                       <div class="box-header flex items-center justify-between">
                           <div class="box-title">
                               Featured Blogs
                           </div>
                           <div>
                               <span class="badge bg-primary/10 text-primary">32 Blogs</span>
                           </div>
                       </div>
                       <div class="box-body">
                           <ul class="list-group">
                               <li class="list-group-item">
                                   <div class="flex flex-wrap items-center">
                                       <span class="avatar avatar-xl me-4">
                                           <img src="./assets/images/media/media-39.jpg" class="img-fluid !rounded-md" alt="...">
                                       </span>
                                       <div class="flex-grow">
                                           <a href="javascript:void(0);" class="text-[0.875rem] font-semibold mb-0">Samantha Jack</a>
                                           <p class="mb-1 popular-blog-content text-truncate">
                                               There are many variations of passages of Lorem Ipsum available
                                           </p>
                                           <span class="text-[#8c9097] dark:text-white/50 text-[0.6875rem]">24,Nov 2022 - 18:27</span>
                                       </div>
                                       <div>
                                           <button type="button" aria-label="button" class="ti-btn ti-btn-light ti-btn-sm rtl:rotate-180"><i class="ri-arrow-right-s-line"></i></button>
                                       </div>
                                   </div>
                               </li>
                               <li class="list-group-item">
                                   <div class="flex flex-wrap items-center">
                                       <span class="avatar avatar-xl me-4">
                                           <img src="./assets/images/media/media-56.jpg" class="img-fluid !rounded-md" alt="...">
                                       </span>
                                       <div class="flex-grow">
                                           <a href="javascript:void(0);" class="text-[0.875rem] font-semibold mb-0">Kirsten Sam</a>
                                           <p class="mb-1 popular-blog-content text-truncate">
                                               Latin words, combined with a handful of model sentence
                                           </p>
                                           <span class="text-[#8c9097] dark:text-white/50 text-[0.6875rem]">28,Nov 2022 - 10:45</span>
                                       </div>
                                       <div>
                                           <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm rtl:rotate-180"><i class="ri-arrow-right-s-line"></i></button>
                                       </div>
                                   </div>
                               </li>
                               <li class="list-group-item">
                                   <div class="flex flex-wrap items-center">
                                       <span class="avatar avatar-xl me-4">
                                           <img src="./assets/images/media/media-54.jpg" class="img-fluid !rounded-md" alt="...">
                                       </span>
                                       <div class="flex-grow">
                                           <a href="javascript:void(0);" class="text-[0.875rem] font-semibold mb-0">Jessica Karon</a>
                                           <p class="mb-1 popular-blog-content text-truncate">
                                               Contrary to popular belief, Lorem Ipsum is not simply random
                                           </p>
                                           <span class="text-[#8c9097] dark:text-white/50 text-[0.6875rem]">30,Nov 2022 - 08:32</span>
                                       </div>
                                       <div>
                                           <button  type="button" aria-label="button" class="ti-btn ti-btn-light ti-btn-sm rtl:rotate-180"><i class="ri-arrow-right-s-line"></i></button>
                                       </div>
                                   </div>
                               </li>
                               <li class="list-group-item">
                                   <div class="flex flex-wrap items-center">
                                       <span class="avatar avatar-xl me-4">
                                           <img src="./assets/images/media/media-52.jpg" class="img-fluid !rounded-md" alt="...">
                                       </span>
                                       <div class="flex-grow">
                                           <a href="javascript:void(0);" class="text-[0.875rem] font-semibold mb-0">Broad Stuart</a>
                                           <p class="mb-1 popular-blog-content text-truncate">
                                               It was popularised in the 1960s with the release of Letraset sheets containing
                                           </p>
                                           <span class="text-[#8c9097] dark:text-white/50 text-[0.6875rem]">3,Dec 2022 - 12:56</span>
                                       </div>
                                       <div>
                                           <button type="button" aria-label="button" class="ti-btn ti-btn-light ti-btn-sm rtl:rotate-180"><i class="ri-arrow-right-s-line"></i></button>
                                       </div>
                                   </div>
                               </li>
                               <li class="list-group-item text-center">
                                   <button type="button" class="ti-btn ti-btn-primary !font-medium !mb-0">Load more</button>
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="xl:col-span-12 col-span-12">
            <div class="grid grid-cols-12 gap-x-6">
               <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-40.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Strawberry juice recipe.</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-4">Want to have something different but healthy to drink? Then look no further!! Strawberry Juice is rich in vitamin C.</p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/7.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Maria Bose</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">17,Dec 2022 - 12:32</p>
                                   </div>
                               </div>
                               <div class="btn-list">
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-61.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Night Sky is pleasent to watch.</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-4">Sky map showing the night sky tonight from any location. What planets are visible tonight? Where is Mars. </p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/2.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Helsenky</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">24,Dec 2022 - 14:21</p>
                                   </div>
                               </div>
                               <div class="btn-list">
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-42.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Is fashion industry growing ?</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-4">The holographic principle, theorized to be a property of quantum gravity, postulates that the description.</p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/12.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Jason Mama</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">19,Dec 2022 - 15:48</p>
                                   </div>
                               </div>
                               <div class="btn-list">
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="xxl:col-span-3 xl:col-span-6 lg:col-span-6 md:col-span-6 col-span-12">
                   <div class="box">
                       <a href="javascript:void(0);">
                           <img src="./assets/images/media/media-59.jpg" class="card-img-top rounded-t-sm" alt="...">
                       </a>
                       <div class="box-body">
                           <a routerLink="/pages/blog/blog-details" class="font-semibold text-[0.875rem] text-dark mb-1">Raising sun is a blessing to watch ..</a>
                           <p class="card-text text-[#8c9097] dark:text-white/50 mb-4">Rising Sun is a 1993 American buddy cop crime thriller film directed by Philip Kaufman.</p>
                           <a href="javascript:void(0);" class="ti-btn ti-btn-primary !font-medium !mb-0">Read More</a>
                       </div>
                       <div class="box-footer">
                           <div class="flex items-center justify-between">
                               <div class="flex items-center">
                                   <div class="avatar avatar-sm avatar-rounded me-2">
                                       <img src="./assets/images/faces/16.jpg" alt="">
                                   </div>
                                   <div>
                                       <p class="mb-0 font-semibold">Stuart Hall</p>
                                       <p class="text-[#8c9097] dark:text-white/50 text-[.625rem] mb-0">13,Dec 2022 - 19:08</p>
                                   </div>
                               </div>
                               <div class="btn-list">
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm !me-[0.375rem]"><i class="ri-thumb-up-line"></i></button>
                                   <button aria-label="button" type="button" class="ti-btn ti-btn-light ti-btn-sm"><i class="ri-chat-2-line"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
   <!--End::row-1 -->

   <!-- Start: pagination -->
   <div class="sm:ltr:float-right sm:rtl:float-left mb-6">
       <nav aria-label="Page navigation" class="">
           <ul class="pagination mb-0 flex flex-row rounded-sm text-[1rem]">
               <li class="page-item disabled">
                   <a class="page-link !py-[0.375rem] !px-[0.75rem]" href="javascript:void(0);">
                       Prev
                   </a>
               </li>
               <li class="page-item active"><a class="page-link !py-[0.375rem] !px-[0.75rem]"  href="javascript:void(0);">1</a></li>
               <li class="page-item "><a class="page-link !py-[0.375rem] !px-[0.75rem]" href="javascript:void(0);">2</a></li>
               <li class="page-item ">
                   <a aria-label="anchor" class="page-link !py-[0.375rem] !px-[0.75rem]" href="javascript:void(0);">
                       <i class="bi bi-three-dots"></i>
                   </a>
               </li>
               <li class="page-item "><a class="page-link !py-[0.375rem] !px-[0.75rem]" href="javascript:void(0);">17</a></li>
               <li class="page-item">
                   <a class="page-link !text-primary !py-[0.375rem] !px-[0.75rem]" href="javascript:void(0);">
                       next
                   </a>
               </li>
           </ul>
       </nav>
   </div>
   <!-- End: pagination -->
</div>